*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/obj/
/build/
/.idea/
/jnihelper/output/shared/obj/
/jnihelper/output/shared/libs/
/jnihelper/output/static/obj/
/app/build/
/app/libs/
/gradle/
/.gradle/
/app/proguard-rules.pro
/jnihelper/CMakeLists.txt
/gradle.properties
/gradlew
/gradlew.bat
